<img src="/images/corey.png"  ">

<div class="flex-row" >
    <div class="flex h-40 w-full bg-pud_green"> 
        <h1 class="text-5xl text-white font-medium pt-5"> PROSPER US STATISTICS</h1>
    </div>
    <svg height="30%" width="30%" justify-centergit>
        <circle cx="15%" cy="15%" fill="red"/>
    </svg>
</div>