<div class="grid grid-cols-3 grid-rows-2 pb-20" >
    <div class="col-span-3 h-40 bg-pud_green w-full"> 
        <h1 class="text-5xl text-white font-medium pt-5"> PROSPER US STATISTICS</h1>
    </div>

    <div class ="grid-row-2 col-span-3 pt-20">
        <div class="grid grid-cols-3 justify-items-center " >
            <div class ="grid-col-1 text-5xl text-pud_green font-medium pt-5"> 40+ </div>
            <div class ="grid-col-2 text-5xl text-pud_green font-medium pt-5"> 20 </div>
            <div class ="grid-col-3 text-5xl text-pud_green font-medium pt-5"> 300 </div>
            <div class ="grid-row-1 font-medium pt-5"> Micro-Loans Awarded </div>
            <div class ="grid-col-2 font-medium pt-5"> Years Of Serving </div>
            <div class ="grid-col-3 font-medium pt-5">Dedicated Entreprenuers </div>
        </div>
    </div>
    
        
</div>

